<h2>Companies</h2>

<dx-data-grid #companiesDataGrid
              [dataSource]="companiesDataSource"
              keyExpr="id"
              [rowAlternationEnabled]="true">
  <dxo-toolbar>

    <dxi-item>
      <dx-button icon="plus" (onClick)="newCompany()"></dx-button>
    </dxi-item>

    <dxi-item>
      <dx-button icon="refresh" (onClick)="refresh()"></dx-button>
    </dxi-item>

    <dxi-item name="exportButton"></dxi-item>
    <dxi-item name="searchPanel"></dxi-item>
  </dxo-toolbar>
  <dxi-column dataField="id" [allowFiltering]="false" cellTemplate="idCT"></dxi-column>
  <dxi-column dataField="name"></dxi-column>
  <dxi-column dataField="banned"></dxi-column>
  <dxi-column dataField="source"></dxi-column>
  <dxi-column dataField="createdAt"></dxi-column>
  <dxi-column dataField="updatedAt"></dxi-column>
  <div *dxTemplate="let cell of 'idCT'">
    <a [routerLink]="['/companies', cell.data.id]">{{cell.data.id}}</a>
  </div>


  <!--  <dxo-filter-row [visible]="true"></dxo-filter-row>-->
  <dxo-search-panel [visible]="true"></dxo-search-panel>

  <dxo-paging [pageSize]="pageSize"></dxo-paging>
</dx-data-grid>
